# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
env/
venv/
ENV/

# Project Specific
*.csv
*.pkl
*.h5
*.png
*.log
output.log
antenna_dataset.csv
antenna_model.pkl
scaler.pkl
prediction_plot.png
loss_plot.png
3d_parameter_surface.png
